include ../../mixins/index

+b.main-top-section.SECTION
  +e.content
    +e.left-part
      +b.banner-card
        +e.image-wrapper
          +e.image.img.IMG(
            src='../static/img/banner_1.png'
            alt='banner_1'
          )
        +b.new-product-mark
          +e.image-wrapper
            +e.image.img.IMG(
              src='../static/img/new.png'
              alt='new-product'
            )
        +e.text-part
          +e.title.link.--3xl.--black.--bold.--upper.--3lh.H2 Jack Wolfskin
          +e.desc.link.--dark.--2lg.--1lh.P Но дальнейшее развитие различных форм деятельности способствует подготовке и реализации модели развития.
          +e.button.btn.BUTTON Подробнее
    +e.right-part
      +e.right-top
        +b.banner-card.--sm
          +e.image-wrapper
            +e.image.img.IMG(
              src='../static/img/banner_2.png'
              alt='banner_2'
            )
          +e.text-part.--sm
            +e.title.link.--upper.--2xl.--white.--bold.--2lh.H2 Jack Wolfskin
            +e.button.btn.--sm.BUTTON Подробнее
      +e.right-bottom
        +b.banner-card.--sm.--rev
          +e.image-wrapper
            +e.image.img.IMG(
              src='../static/img/banner_3.png'
              alt='banner_3'
            )
          +e.text-part.--sm
            +e.title.link.--upper.--2xl.--black.--bold.--2lh.H2 Jack Wolfskin
            +e.button.btn.--sm.BUTTON Подробнее
